<footer class="pt-4 my-md-0 pt-md-5 border-top position-relative" style="background-color: #BDB76B;">
  <div class="d-flex align-content-center flex-wrap">
    <div class="col-12 col-md mt-2 ml-5 pl-5">
      <img
        class="mb-2"
        src="../../assets/img-top-bar/logo.png"
        alt="Amarte Ateliê" style="width: auto;"
      />
      <small class="d-block mb-3 text-muted">© Amarte Ateliê 2019</small>
    </div>
    <div class="col-6 col-md">
      <h5>Contato</h5>
      <i class="fab fa-whatsapp" style="color: black;"></i>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">(42) 9805-0716</a></li>
        <li><a class="text-muted" href="https://www.facebook.com/amarteateliec/">Facebook</a></li>
        <li><a class="text-muted" href="https://www.instagram.com/am.arteatelie/?hl=pt-br">Instagram</a></li>
      </ul>
    </div>
    <!--div class="col-6 col-md p-0 m-0">
      <h5>Fontes</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Fonte</a></li>
        <li><a class="text-muted" href="#">Nome da fonte</a></li>
        <li><a class="text-muted" href="#">Outra fonte</a></li>
      </ul>
    </!--div>-->
  </div>
</footer>
