mat-card{
    display: inline-block;
}

.example-card {
  max-width: 400px;
  margin: 20px;
  
}

.example-header-image {
  background-image: url("../../assets/img-top-bar/img.png");
  background-size: cover;
}

img{

    height: 250px;
}

.background-image{
  opacity: 0.1;
}

i.material-icons{
  color: #BDB76B;
  text-shadow: black 0px 1px 1px;
}